.centered {
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
:root {
  --color: #27aae1;
  --width: 104px;
  --height: 60px * 104px / var(--width);
}

.hex {
  margin-top: var(--height) / 2;
  width: var(--width);
  height: var(--height);
  background-color: var(--color);
  border-color: var(--color);
  position: relative;
  display: inline-block;
}
.hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: var(--height) / 2 solid;
  border-color: inherit;
  border-left: var(--width) / 2 solid transparent;
  border-right: var(--width) / 2 solid transparent;
  position: absolute;
  top: var(--height) / 2;
}
.hex:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -var(--height) / 2;
  border-top: var(--height) / 2 solid;
  border-color: inherit;
  border-left: var(--width) / 2 solid transparent;
  border-right: var(--width) / 2 solid transparent;
}
